herebody { 
  font-family: Arial; 
  padding: 20px; 
  background-color: #f0f8ff; 
}
textarea { 
  width: 100%; 
  height: 150px; 
}
button { 
  margin-top: 10px; 
  background-color: #1f51ff; 
  color: white; 
  border: none; 
  padding: 8px; 
}
